/*
!wp-content/
!wp-config.php
.*

!.gitignore

!readme.md
!readme.html

~*

ehthumbs.db
Thumbs.db

.idea
.DS_Store
*.sublime-project
*.sublime-workspace
*.komodoproject

*.log
*.sql
*.sqlite

*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

!wp-content/mu-plugins/

wp-content/plugins/

#!wp-content/plugins/
#
#wp-content/index.php
#wp-content/plugins/akismet
#wp-content/plugins/hello.php
#wp-content/plugins/index.php

wp-content/index.php
wp-content/themes/twenty*/
wp-content/themes/index.php

# custom name theme
!wp-content/themes/developTheme

node_modules/
